[Desktop Entry]
Name=Google Drive Backup
Comment=Googleドライブに差分バックアップを実行する
Exec=/home/shutaroo/backup_to_gdrive.sh
Icon=folder-upload
Terminal=false
Type=Application
Categories=Utility;
